<div class="col-xs-3">
	<div class="menu-box">
	  <ul class="list-group">
      <li class="list-group-item">
        <%= link_to "編集する", edit_user_path(user), class: "btn btn-info" %>
      </li>
  		<li class="list-group-item">フォロー</li>
  		<li class="list-group-item">フォロワー</li>
  		<li class="list-group-item">
        <%= link_to "マイページ", user_path(user) %>
      </li>
  		<li class="list-group-item">メッセージ</li>
  		<li class="list-group-item">
        <%= link_to "投稿する", posts_new_path %></li>
  		<li class="list-group-item">成長を見る</li>
	  </ul>
	</div>
</div>