<div class="content">
  <div class="top-image">
    <div class="image-text-box">
  	  <p class="image-text">
  	  	Let's-continue!<br>
  	    今日からあなたもはじめよう。

  	  </p>
    </div>
  </div>
  <div class="fit-box">
  	<div class="boxin">
  		<h2>あなたにあったトレーニングを</h2>
  		<p class="boxin-p">まずは会員登録をしましょう！ここではたくさんの仲間が、理想の体を手に入れるためにトレーニングしている姿を見ることができます。トレーニングを習慣にして、、互いを高め合い、トレーニングを継続しよう！</p>
  	</div>
  </div>

  <main>
  	<div class="container">
  	  <div class="row">
  	  	<div class="col-xs-5">
  	  	  <h3>Let's-continue!の主な利用方法の紹介</h3>
  	  	</div>
  	  	<div class="col-xs-7">
  	  	  <h4>ここではLet's-continueでできる主な機能を紹介します。これからトレーニングを始める方や、なかなかトレーニングが続かない人は今こそ始めましょう！たくさんの仲間があなたを待っています！</h4>
  	  	</div>
  	  </div>
  	  <div class="row">
  	  	<div class="col-xs-4">
  	  	  <h4>1.トレーニングを投稿</h4>
  	  	  <p>まずは今日のトレーニングを投稿しましょう。投稿することであなたのトレーニングを仲間が褒めてくれます。また、仲間の投稿をみることができます。あなたも積極的にトレーニング仲間を褒めてみよう！モチベーションもきっと上がるはず！</p>
  	  	</div>
        <div class="col-xs-4">
          <h4>2.トレーニングを記録</h4>
          <p>あなたが行ったトレーニングを記録することができます。なかなか身体の変化はわかりませんが、トレーニングをすることで今日より明日、明日より明後日、目には見えない単位で、確実に体は成長しています。トレーニングを記録する習慣をつけることで、継続する習慣を身に付けましょう。</p>
        </div>
        <div class="col-xs-4">
          <h4>3.成長を実感</h4>
          <p>あなたが行ったトレーニング一覧を確認することができます。グラフで成長が確認できるので、自分の成長を実感しましょう。またトレーニングメニューごとに履歴を確認できるます。</p>
        </div>
      </div>
      <div class="row">
  	  	<div class="col-xs-4">
  	  	  <div class="panel panel-default">
            <div class="panel-body">
              <%= image_tag 'beatsPAKU2891_TP_V.jpg', class: "img-responsive img-rounded", width: "400px" %>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
  	  	  <div class="panel panel-default">
            <div class="panel-body">
            	<%= image_tag 'PAK58_kiokuyorikiroku_TP_V.jpg', class: "img-responsive img-rounded", width: "400px" %>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
  	  	  <div class="panel panel-default">
            <div class="panel-body">
            	<%= image_tag 'PAK85_deskshiryou20131223_TP_V.jpg', class: "img-responsive img-rounded", width: "400px" %>
            </div>
          </div>
        </div>
      </div>

  	</div>
  </main>
  <footer></footer>