<div class="home-image">
  <div class="home-image-box">
  	<div class="home-text">
  	</div>
  </div>
</div>
<footer>
  <div class="footer-box">
    <p class="footer-text">© T.takeno. 2020.</p>
  </div>
</footer>