<div class="container">
  <div class="row">
    <%= render 'users/profire', user: current_user %>
    <div class="col-xs-9">
     <div class="panel panel-info">
  	  	<div class="panel-heading">
  	  	  <h4>トレーニング履歴一覧</h4>
        </div>
        <div class="panel-body">
          <% @training_records.each do |training_record| %>
          <ul class="list-group">
            <li class="list-group-item">
  	          <%= link_to training_record_path(training_record) do %>
  	            <%= training_record.training_menu.menu %>
  	          <% end %>
            </li>
          </ul>
          <% end %>
	      </div>
	    </div>
    </div>
  </div>
</div>