<div class="row">
  <%= render 'users/profire', user: current_user %>
  <div class="col-xs-8">
  	<% @posts.each do |post| %>
  	  <div class="panel panel-default">
  	  	<div class="panel-body">
          <%= attachment_image_tag post.user, :profile_image, :size, 200,200, format: "jpg" %>
  	  	  <%= post.user.user_name %>
  	  	</div>
        <div class="panel-body">
          <%= post.posts %>
        </div>
      </div>
    <% end %>
  </div>
</div>