/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-social
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

#top-image{
	height:600px;
}

.image1 {
background-image: image-url('humphrey-muleba-LOA2mTj1vhc-unsplash.jpg');
}
.image2 {
background-image: image-url('sport-3340598_1280.jpg');
}
.image3 {
background-image: image-url('jonathan-borba-zfPOelmDc-M-unsplash.jpg');
}
.image4 {
background-image: image-url('geert-pieters-NbpUM86Jo8Y-unsplash.jpg');
}

.home-image{
	height:700px;
	width:100%;
	background-image: image-url('scott-moon-dirjFXPH6qw-unsplash.jpg');
	background-size: cover;
	background-position: bottom;
}

.log_in-top{
  margin-top: 100px;
}

.sign_up-top{
  margin-top: 50px;
}

.user_main{}

